@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ############## HTML styling ######## */
html{
    font-size: 62.5%
}

 body{
    font-family: 'Montserrat', sans-serif;
}  
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
}
p,li{
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}
h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* ###### utility class ####### */
.container{
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}
.text-align{
    text-align: center;
}
.bg-dark{
    background-color: #263238;
}
.border{
    /* border: 2px solid white ; */
}
.text-bold{
    font-weight: bold;
}
.lg-header{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}

.text-gray{
    color: #555;
}
a:hover{
    border-bottom: 1px solid white;
    /* background: #fcf3f2; */
}
.btn{
    display: inline-block;
    font-weight: 500;
    padding: 0.5em 1.5em;
    margin: 0.5 0;
    text-transform: uppercase;
}
.btn-primary{
    background-color: #fff;
    border-radius: 100px;
}




/* ######### header styling ######## */
.header{
    /* position: relative; */
    /* height: 95vh; */
    /* border: 4px solid green; */
    /* background: url('../image/header-image3.jpg'); */
    /* making background dark */
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/header-image3.jpg'); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.navbar a{
    /* color: white; */
}

.navbar{
    /* border: 2px solid  white; */
    /* padding: 1rem; */
    /* margin-top: 1rem; */
}
.navbar .logo{
    /* float: left; */
    
}
.navbar .nav-items{
    float: right;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content h1{
    text-transform: uppercase;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
}
.showcase{
    background: #ddd;
    padding: 10rem 0;
}
.row{
    height: 250px;
    /* border: 2px solid white; */
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #aaa;
}
.row1{
    margin-bottom: 7rem;
}
.row1 .img-box, .row2 .text-box{
    width: 50%;
    float: left;
}
.row2 .img-box, .row1 .text-box{
    width: 50%;
    float: right;
}
.row .img-box{
    /* border: 2px solid red; */
    height: 100%;
}
.row .text-box{
    /* border: 2px solid green; */
    padding: 2rem;
}

.row .img-box img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover; /* to make the image responsive*/

}

.row .text-box a{
    /* border: 1px solid red; */
}
.btn2{
    display: inline-block;
    font-weight: 500;
    padding: 0.3em .7em;
    margin: 0.5 0;
    text-transform: uppercase;
}
/* as we have float the image and text box */
.row::after{
    content: '';
    display: block;
    clear: both;
} 
/* last 3 box */
.container .box-wrapper .box{
    float: left;
    width: 33.3%;
    /* border: 2px solid black; */
    padding: 1rem;
    text-align: center;
    font-size: 0.5rem;
}
.box-1,.box-3{
    background: #263238;
    color: white;
}
.box-2{
    background: #fd5c63;
    color: white
}
.box-wrapper{
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 20px #aaa;
}
.features{
    margin: 5rem;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.footer{
    background: #263238;
    color: #f4f4f4;
    text-align: center;
    padding: 2rem;
}
.social-media-links i{
    margin: 1.5rem;
}


/* ################ About page Styling ################ */
.about{
    margin: 4rem 0;
}
.line{
    border-bottom: 5px solid red;
}
/* another way  */
.about-heading::after{
    content: '';
    display: block; /*for new line*/
    border: 2px solid #e63946;
    width: 100%;
}
/* ######## About Wrapper styling ######### */
.about-wrapper{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}
.about-wrapper .right{
    float: right;
    width: 50%;
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

/* ######### count styling ########### */
.counts{
    /* border: 2px solid red; */
    margin-top: 2.5rem;
    text-align: center;
}
.counts .count-item{
    float: left;
    width: 25%;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}


/* ############ cta banner styling ############ */
.cta-banner{
    /* border: 2px solid blue; */
    margin-top: 2rem;
    background-color: #e63946;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.156);
}
.cta-banner .cta-banner-left{
    float: left;
    padding:1rem 4rem;
    color: #fff;
}
.cta-banner .cta-banner-right{
    float: right;
    padding:1rem 4rem;
    margin: .3rem;
    color: #fff;
    border: 3px solid white;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}
.cta-banner .cta-banner-right a{
    color: #fff;
    font-weight: bold;
}
.cta-banner .cta-banner-left p{
    color: #fff;
    font-weight: bold;
    padding-top: 1rem;
}


/* ############### contact form styling ################# */
.contact-form{
    padding: 5rem 0;
    background: #f4f4f4;
}

.form-wrapper{
    /* border: 2px solid blue; */
}
.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.company-address{
    /* border: 2px solid yellow; */
    float: left;
    width: 48%;
    padding: 1rem;
    height: 540px;
    background: #fff;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
}

.form-wrapper .company-address img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.form-wrapper .address-group{
    margin-bottom: 2rem;
}

/* ######### Form styling ######### */
.form{
    /* border: 2px solid red; */
    float: right;
    width: 48%;
    font-size: 1.4rem;
    padding: 1rem;
    height: 540px;
    background: #fff;
}
.form h1::after{
    content: '';
    display: block;
    width: 100%;
    /* border: 2px solid #e63946; */
}
.form-wrapper .form label{
    display: block;
}
.form-wrapper .form input{
    width: 100%;
    padding: 0.5rem;
    display: block;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}
.form-wrapper .form label::after{
    content: '*';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 200px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ######## Media queries ######## */
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    .navbar .logo, .navbar .nav-items{
        float: none;
        text-align: center;
        display: block;
        width: 100%;
    }
    .row{
        display: block;
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .features .box-wrapper .box{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    .cta-banner-left,.cta-banner-right{
        float: none;
        display: block;
        width: 99%;
        text-align: center;
    }
    .form-wrapper .company-address{
        margin-bottom: 3rem;
        height:auto
    }
    .form-wrapper .company-address,.form-wrapper .form{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        height: auto;  
    }
}

@media (min-width:501px) and (max-width:768px){
    html{
        font-size: 50%;
    }
    p{
        font-size: 1.7rem;
    }
    .navbar .logo, .navbar .nav-items{
        float: none;
        text-align: center;
        display: block;
        width: 100%;
    }
    .row{
        display: block;
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .features .box-wrapper .box{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    .cta-banner-left,.cta-banner-right{
        float: none;
        display: block;
        width: 99%;
        text-align: center;
    }
    .form-wrapper .company-address{
        margin-bottom: 3rem;
        height:auto
    }
    .form-wrapper .company-address,.form-wrapper .form{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        height: auto;  
    }
}
@media (min-width:769px) and (max-width:1200){
    html{
        font: 56.25%;
    }
}


/* Landscape media query */
@media(orientation:landscape) and (max-height:500px){
    .header{
    height: 90vmax;
    }
}

